.buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 1rem;

    .btn--primary {
        margin-left: 0.5rem;
        font-size: 2rem;
    }

    .btn--secondary {
        margin-left: 0.5rem;
        font-size: 2rem;
    }

}