.accordion-tab__picture {
    // this is a picture tag, make it that it centers the image
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    margin-top: 1.5rem;

}